*{
    margin:0;
    padding:0;
}

body{
    background-image: url("../Image/background3_pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-box{
    width:800px;
    height: 350px;
    
}
#header{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgba(0, 0, 0, 0.781);
}
#header h2{
    text-align: center;
}
.flex-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 255, 0.575);
}
.box{
    width: 400px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box h2{
    color: white;
}
.box h2 i{
    margin-right: 10px;
    color: white;
}
.box2{
    background-color: rgba(172, 255, 47, 0.801);

}
.box3{
    background-color:rgba(255, 105, 180, 0.753);
}
.box3 h2 span {
    margin-right: 10px;
}
.box4{
    background-color: rgba(255, 68, 0, 0.897);
}
.box4 h2 span {
    margin-right: 10px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.678);
}
#btnstart{
    width: 250px;
    height: 50px;
    background-color:green;
    margin: 15px;
    color:white;
    border-style: none;
    border-radius: 10px;
}
#btnstop{
    width: 250px;
    height: 50px;
    background-color:crimson;
    margin: 15px;
    color:white;
    border-style: none;
    border-radius: 10px;
    display: none;
}
#btnclear{
    width: 250px;
    height: 50px;
    background-color:orange;
    margin: 15px;
    color:white;
    border-style: none;
    border-radius: 10px;
    display: none;
    
}
h2 i{
    margin-right: 10px;
}

.bottom-box{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(76, 0, 130, 0.884);
}
.bottom-box h2 i{
    color: white;
    
}
.bottom-box h2 span{
    margin-left: 10px;
    color: white;
}

